<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ng-repeat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="ng-repeat.js"></script>
</head>

<body ng-controller="myController">
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.gender}}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li ng-repeat="country in Countries">
            {{country.name}}
            <ul>
                <li ng-repeat="city in country.cities">
                    {{city.name}}
                </li>
            </ul>
        </li>
    </ul>
</body>

</html>